.About {
    margin: auto;
    width: 70%
}

.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 30px
}

.team h2 {
    grid-column: span 3;
    text-align: center;
    font-size: xx-large;
    font-weight: 400;
}

.team .profile {
    display: grid;
    text-align: center;
    background-color: lightgray; 
    color:gray;
    padding: 20px;
    height: 200px;
    gap: 20px 0px;
    overflow-y: scroll;
}

.team .profile:hover {
    background-color: gray;
    color: lightgray;

}

.team #name {
    color: gray;
}

.team a:link {
    text-decoration: none;
    color: gray;
}

.About hr {
    margin: 30px 0px;
    border: 1px solid #484848 ;
}

.project {
    text-align: center;
    background-color: gray; 
    color:lightgray;
    padding: 20px;
    height: 320px;
    margin-bottom: 40px;
    overflow-y: scroll;
}

.project:hover {
    background-color: lightgray;
    color: gray;
}

.project h2 {
    margin: 0px;
    text-align: center;
    font-size: xx-large;
    font-weight: 400;
    color: lightgray;
}

.project #description {
    padding: 0 50px;
}

.project a:link {
    color: black
}
