.CommentSection {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column: 2 / 4;
    /* margin-left:55vh;
    margin-right:60vh;*/
    display:block; 
}

.CommentSection input, textarea {
    margin: 10px;
    height:auto;
    width:50%;
}

.CommentSection input[type=submit] {
    background: black; 
    color: white;
    width: auto;
    padding:5px 15px;
    cursor:pointer;
    border-radius: 5px;
}

.VideoComments {
    list-style: none;
    padding-inline-start: 0px;
}