.Nav {
  align-items: center;
  background: #646464;
  color: white;
  padding-left: 35px;
  display: flex;
  height: 60px;
}

.Nav aside {
  margin-left: 15px;
  top: 5px;
}

.Nav h1 img {
  vertical-align: middle;
}

.Nav ul {
  list-style: none;
  padding: 0;
}

.Nav ul li {
  display: inline-block;
  font-size: 18px;
  padding: 0 15px;
}

.Nav ul li a {
  color: white;
  text-decoration: none;
}

.Nav ul li a:hover {
  color: black;
  border-bottom: 2px solid black;
}
